*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    font-size: 25px;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
  
body
{
    overflow:hidden;
    background-color: #ff4f8b;
    display: flex;
}
label{
  align-items: center;
  padding-left: 48%;
  padding-top: 10%; 
  color: white;
  font-family: consolas;
  font-size: larger;
}
section
{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content : center;
    align-items : center;
    background: linear-gradient (to bottom, #ff4f8b, #dff1ff);
}

@keyframes move1 {
    0% {
        transform: translate(0px,10px);
      }
        20% {
        transform: translate(40px,90px);
      }
        40% {
        transform: translate(80px,10px);
      }
        60% {
        transform: translate(120px,90px);
      }
        80% {
        transform: translate(160px,10px);
      }
        100% {
        transform: translate(200px,90px);
      }
}
@keyframes move2 {
    0% {
        transform: translate(0px,10px);
      }
        80% {
        transform: translate(160px,10px);
      }
        100% {
        transform: translate(200px,90px);
      }
}
@keyframes move3 {
    0% {
        transform: rotate(0deg) translateX(90px) rotate(0deg);
        }
        100% {
        transform: rotate(360deg) translateX(90px) rotate(-360deg);
        }
}
section .color
{
    z-index: -3;
    position: absolute;
    filter: blur(150px);
    transform: scale(2);
    
}
/*filter: blur(150px);*/
section .color:nth-child(1)
{
    background: #321c57;
    width: 1500px;
    height: 900px;
    top: -250px;
    animation: move3 10s linear infinite alternate;
}
section .color:nth-child(2)
{
    background: #101041;
    width: 800px;
    height: 800px;
    left: -200px;
    top: -250px;
    animation: move1 10s linear infinite alternate;
}
section .color:nth-child(3)
{
    background: #1c1041;
    width: 1000px;
    height: 600px;
    bottom: -250px;
    left: -50px;
    animation: move1 10s linear infinite alternate;
}
section .color:nth-child(4)
{
    background: #3f0e29;
    width: 600px;
    height: 600px;
    bottom: -250px;
    left: 250px;
    animation: move2 10s linear infinite alternate;
}
section .color:nth-child(5)
{
    background: #0c0624;
    width: 1000px;
    height: 600px;
    bottom: 200px;
    left: -250px;
    animation: move3 10s linear infinite alternate;
}

section .color:nth-child(6)
{
    background:#062a2c;
    width: 500px;
    height:600px;
    bottom: -250px;
    right: -250px;
    animation: move1 10s linear infinite alternate;

}

section .color:nth-child(7)
{
    background:#641641;
    width: 600px;
    height: 700px;
    bottom: -250px;
    right: 250px;
    animation: move3 10s linear infinite alternate;
}
section .color:nth-child(8)
{
    background:#074e53;
    width: 600px;
    height: 500px;
    top: 250px;
    right: 250px;
    animation: move2 10s linear infinite alternate;
}

section .color:nth-child(9)
{
    background:#27058b;
    width: 700px;
    height:600px;
    animation: move1 10s linear infinite alternate;

}

section .color:nth-child(10)
{
    background:#0d0516;
    width: 600px;
    height: 700px;
    bottom: -250px;
    right: 250px;
    animation: move3 10s linear infinite alternate;
}
section .color:nth-child(11)
{
    background:#0b0420;
    width: 600px;
    height: 500px;
    top: 90px;
    right: -50px;
    animation: move1 10s linear infinite alternate;
}
section .color:nth-child(12)
{
    z-index: -1;
    background:#eaeaf000;
    width: 100%;
    height: 100%;
}
.container{
    place-items: center;
    top: 1%;
    left: 0.5%;
}
.container{
    position: absolute;
    height: 6.5%;
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    border: none;
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.372);
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    font-family: consolas;
  }
  .container:before{
    position: absolute;
    content: '';
    top: 1%;
    left: 1%;
    height: 103%;
    width: 103%;
    border-radius: 3%;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }
  .container:hover:before{
    opacity: 1;
  }
  .container:hover:active{
    background: none;
  }
  .container:hover:active:before{
    filter: blur(2px);
  }
  @keyframes animate {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  

.container3{
  right:15%;
  top:31%; 
  display: flex;
  justify-content: center;
}
.container3{
  position: absolute;
  height: 30%;
  display: flex;
  /* top: 350px;
  left: 0px; */
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2em;
  width: 30%;
  border: none;
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.372);
  cursor: pointer;
  border-radius: 5px;
  font-size: 25px;
  font-family: consolas;
  }
  .container3:before{
    position: absolute;
    content: '';
    /* top: 1%;
    left: 1%; */
    height: 103%;
    width: 103%;
    border-radius: 3%;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }
  .container3:hover:before{
    opacity: 1;
  }
  .container3:hover:active{
    background: none;
  }
  .container3:hover:active:before{
    filter: blur(2px);
  }


.container4{
  left:15%;
  top:31%; 
  display: flex;
  justify-content: center;
}
.container4{
    position: absolute;
    height: 30%;
    display: flex;
    /* top: 350px;
    left: 0px; */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    width: 30%;
    border: none;
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.372);
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    font-family: consolas;
  }
  .container4:before{
    position: absolute;
    content: '';
    /* top: 1%;
    left: 1%; */
    height: 103%;
    width: 103%;
    border-radius: 3%;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }
  .container4:hover:before{
    opacity: 1;
  }
  .container4:hover:active{
    background: none;
  }
  .container4:hover:active:before{
    filter: blur(2px);
  }

.container5{
  right:48%;
  top:70%; 
  display: flex;
  justify-content: center;
}
.container5{
  position: absolute;
  height: 5%;
  width: 5%;
    display: flex;
    /* top: 350px;
    left: 0px; */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    
    border: none;
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.372);
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    font-family: consolas;

  
  }
  .container5:before{
    position: absolute;
    content: '';
    /* top: 1%;
    left: 1%; */
    height: 103%;
    width: 103%;
    border-radius: 3%;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }
  .container5:hover:before{
    opacity: 1;
  }
  .container5:hover:active{
    background: none;
  }
  .container5:hover:active:before{
    filter: blur(2px);
  }

.container6{
  left:0.5%;
  bottom:1%; 
  display: flex;
  justify-content: center;
}
.container6{
  position: absolute;
  height: 6.5%;
  width: 3%;
    display: flex;
    /* top: 350px;
    left: 0px; */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 2em;
    
    border: none;
    outline: none;
    color: white;
    background: rgba(255, 255, 255, 0.372);
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
    font-family: consolas;
  }

  .container6:before{
    position: absolute;
    content: '';
    /* top: 1%;
    left: 1%; */
    height: 103%;
    width: 103%;
    border-radius: 3%;
    z-index: -1;
    opacity: 0;
    filter: blur(5px);
    background: linear-gradient(45deg, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
  }

  .container6:hover:before{
    opacity: 1;
  }
  .container6:hover:active{
    background: none;
  }
  .container6:hover:active:before{
    filter: blur(2px);
  }